.footer{
    display: flex;
    align-items: flex-start;
    flex-direction: row;    
    height: 372px;
    width: 1644px;   
    background-color: #eba308;
    gap: 20px;
    margin-left: 100px;
}
.main-head-1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.main-ft-onl-shp{
    font-size: 20px;
}
.main-ft-btn{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
body{
    margin: 0;
    margin-top: -45px;
    background-color: #eba308;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:hover{
    color: rgb(0, 0, 0);
}
.main-ft-cst-plc{
    font-size: 20px;
    font-weight: bolder;
}
.main-head-2{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.customer-policy{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.head:hover{
    color: white;
}
.applogos{
    width: 286px;
    height: 45px;
    margin-top: 25px;
    margin-left: -2px;
}
.logo-header{
    margin-top: 62px;
    font-size: 20px;
}
.social-media{
    margin-top: 14px;
}
.facebook{   
    font-size: 27px;
    margin-top: 8px;
    margin-right: 318px;
}
.social-md-logo{
    display: flex;
    flex-direction: row;
}
.instagram{
    margin-left: -305px;
    margin-top: 10px;
    font-size: 27px;
}
.twitter{
    font-size: 27px;
    margin-right: 17px;
    margin-left: 13px;
    margin-top: 10px;
}
.orginal1{
    font-weight: lighter;
    margin-left: 456px;
    margin-top: -166px;
}
.orginal2{
    font-weight: lighter;
    margin-left: 456px;
    margin-top: -1px;
}
.return-order{
    float: left;
    margin-left: 393px;
    margin-top: -107px;
}
.return-10days{
    margin-left: 457px;
    margin-top: 20px;
}
.original-logo{
    float: right;
    margin-top: -172px;
    margin-right: 259px;
}
.policy{
    display: flex;
    flex-direction: row;
    margin-top: 125px;
    gap: 50px;
    text-decoration: none;
}
.cpissue{
    margin-top: 39px;
    margin-left: -400px;
}
.cp-logo{
    margin-left: -417px;
    margin-top: -17px;
}
.aboutus{
    margin-left: 129px;
    margin-top: 10px;
    font-size: 18px;
}
.head1{
    background-color: #f7ab08;
    height: 139px;
    color: black;
}
.head1-1{
    font-size: 47px;
    text-align: center;
    margin-top: -73px;
}
.body1{
    height: 1000px;
    background-color: #eba308;
}
.aboutus-head{
    margin-left: 130px;
    margin-top: 32px;
}
.ourstory-head{
    margin-left: 127px;
    font-size: 18px;
}
.ourstory{
    margin-left: 127px;
    font-size: 18px;
}
.why-head{
    margin-left: 128px;
}
.why{
    margin-left: 127px;
    font-size: 18px;
}
.comittment-head{
    margin-left: 128px;
}
.comittment{
    margin-left: 127px;
    font-size: 18px;
}
.customercare-head{
    margin-left: 128px;
}
.customercare{
    margin-left: 127px;
    font-size: 18px;
}